@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-agu: "Agu Display", serif;
  --font-nunito: "Nunito", sans-serif;
  --color-green: #14ae5c;
  --color-white: #ffffff;
  --color-washed-white: #F6F6F6;
  --color-grey: #605858
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

h1 { font-size: 2.027rem; }
h2 { font-size: 1.802rem; }
h3 { font-size: 1.602rem; }
h4 { font-size: 1.424rem; }
h5 { font-size: 1.266rem; }
h6 { font-size: 1.125rem; }
p, a { font-size: 1rem; }
small { font-size: 0.889rem; }

@media (max-width: 768px) {
  h1 { font-size: 1.827rem; }
  h2 { font-size: 1.602rem; }
  h3 { font-size: 1.402rem; }
  h4 { font-size: 1.224rem; }
  h5 { font-size: 1.066rem; }
  h6 { font-size: 1rem; }
  p, a { font-size: 1rem; }
  small { font-size: 0.889rem; }
}

button {
  cursor: pointer;
  transition-duration: 300;
}

button:hover {
  opacity: 75%;
}